<!DOCTYPE html>
<html>
<head>
    <title>Predict Date of Birth</title>
    <style>
        body { background-color: cyan; }
        form { text-align: center; }
    </style>
</head>
<body>
    <h1 align="center">Predict Date of Birth</h1>
    <hr>
    <form method="POST" action="/result">
        Name: <input type="text" name="name" placeholder="Enter your name"><br><br>
        DOB: <input type="date" name="dob" placeholder="Enter your date of birth"><br><br>
        <button type="submit"><b>Submit</b></button>
    </form>
</body>
</html>